#cs-content .cs-instagram-feed-carousel {
	
	.d3fy-instagram-feed,
	.d3fy-instagram-carousel.loading {
		
		.slide {
			float: left;
		}
	}
	
	.slide {
		opacity: 1 !important;
		
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
			display: none;
		}
		
		a.instagram-link {
  		display: block;
  		width: 100%;
  		margin: 0;
  		padding: 100% 0 0 0;
  		background-repeat: no-repeat;
  		background-position: center center;
  		background-size: cover;
		}
	}
	
	&.hover-gradient {
  	a.instagram-link,
  	a.instagram-link:link,
  	a.instagram-link:visited {
    	display: block;
    	position: relative;
    	
    	&::before {
      	content: '';
      	display: block;
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      	opacity: 0;
      	transition: opacity 300ms ease-in-out;
      	background: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .1));
    	}
    	
    	&::after {
      	content: '';
      	display: block;
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      	opacity: 0;
      	transition: opacity 300ms ease-in-out;
    	}
  	}
  	
  	a.instagram-link:hover,
  	a.instagram-link:focus {
    	&::before {
      	opacity: 1;
      }
      &::after {
        opacity: .8;
      }
  	}
	}
	
	&.hover-gradient-dark {
  	a.instagram-link,
  	a.instagram-link:link,
  	a.instagram-link:visited {
    	&::before {
      	background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .1));
    	}
  	}
	}
	
	&.hover-gradient-light {
  	a.instagram-link,
  	a.instagram-link:link,
  	a.instagram-link:visited {
    	&::before {
      	background: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .1));
    	}
  	}
	}
	
	&.hover-gradient-dark.hover-icon {
  	a.instagram-link,
  	a.instagram-link:link,
  	a.instagram-link:visited {
    	&::before {
      	background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .75));
    	}
  	}
	}
	
	&.hover-gradient-light.hover-icon {
  	a.instagram-link,
  	a.instagram-link:link,
  	a.instagram-link:visited {
    	&::before {
      	background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .75));
    	}
  	}
	}
	
	&.hover-icon {
  	a.instagram-link,
  	a.instagram-link:link,
  	a.instagram-link:visited {
    	&::after {
      	background-image: url('../images/instagram-glyph-pad.png');
      	background-position: right bottom;
      	background-size: 64px 64px;
      	background-repeat: no-repeat;
    	}
  	}
	}
  
}