#cs-content .cs-instagram-feed-carousel {
	
	.d3fy-instagram-feed,
	.d3fy-instagram-carousel.loading {
		
		.slide {
			float: left;
		}
	}
	
	.slide {
		
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}