/* Modal style overrides */
.cspplity.cspplity-teammember {
  background: #fff;
  background: rgba(255, 255, 255, 0.925) !important;
}

/* CSS for your custom element goes here */
.csl-teammember .teammember-bio,
.csl-teammember .view-profile {
	display: none;
}
.csl-teammember .view-profile {
	display: block;
	visibility: hidden;
	opacity: 0;
	color: #fff;
	padding: .5em 1em;
	position: absolute;
	text-align: center;
	top: 48%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 45%;
	transition: visibility 0s, opacity 0.5s linear;
}
.csl-teammember:hover .view-profile {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.5s linear;
}
.teammember-image-wrap {
	position: relative;
}
.teammember-image-wrap img {
	width: 100%;
}
.csl-teammember:hover {
	cursor: pointer;
}
.teammember-image-wrap:hover img {
	opacity: .7;
}
.teammember-info {
	/*background-color: #00a94e;*/
	color: #fff;
	/*font-family: 'TrajanPro', serif;*/
	padding: .8em 1em;
	text-transform: capitalize;

}
.teammember-name {
	font-size: 20px;
}
.teammember-title {
	font-size: 16px;
}

.teammember-bio-container .t-close {
  background-color: #00a94e;
  border-radius: 50%;
  color: #fff;
  float: right;
  font-size: 18px;
  font-weight: bold;
  height: 2em;
  line-height: 2;
  opacity: 1;
  text-align: center;
  width: 2em;
  text-transform: uppercase;
}

.teammember-bio-container {
	padding: 1.2em;
	margin: 0 auto;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 40px rgba(0, 0, 0, .2);
	max-height: 100%;
	overflow-y: auto;
}
@media screen and (min-width: 600px) {
	.teammember-bio-container {
		width: 80%;
	}
}
@media screen and (min-width: 900px) {
	.teammember-bio-container {
		width: 50%;
	}
}
/*
.teammember-bio-content {
	margin-top: 100px;
}
*/
.teammember-bio-content img {
	max-width: 250px;
}
.teammember-bio-content .teammember-name {
	/*font-family: 'TrajanPro', serif;*/
	font-size: 26px;
	color: #000;
}
.teammember-bio-content .teammember-title {
	/*font-family: 'TrajanPro', serif;*/
	font-size: 20px;
	color: #000;
	margin-bottom: 1em;
}

.teammember-bio-overlay {
	-webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
	background-color: rgba(255,255,255,0.98);
	cursor: default;
	display: none;
	height: 100%;
	min-height: 300px;
	opacity: 0;
  overflow: auto;
	padding-top: 100px;
	padding-bottom: 3em;
  position: fixed;
  text-align: left;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  transition: opacity 1s ease;
}
/*
.csl-teammember.open .teammember-bio-overlay {
	display: block;
	opacity: 1;
	transition: opacity 1s ease;
}
*/

@media screen and (max-width: 639px) {
  .teammember-bio-content .teammember-social {
    clear: both;
  }
}

.teammember-bio-content .teammember-social ul {
  display: block;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;
}

.teammember-bio-content .teammember-social li {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.teammember-bio-content .teammember-social li .social-text {
  display: none;
}

.teammember-bio-content .teammember-social li a,
.teammember-bio-content .teammember-social li a:link,
.teammember-bio-content .teammember-social li a:visited {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  margin: 0 4px 4px 0;
  padding: 0;
  text-align: center;
  font-size: 21px;
}

.teammember-bio-content .teammember-social li a:hover,
.teammember-bio-content .teammember-social li a:focus {
  color: #fff;
  text-decoration: none;
}

.teammember-bio-content .teammember-social li a:hover .social-icon,
.teammember-bio-content .teammember-social li a:focus .social-icon {
  opacity: .8;
}

/* No Popup Layout */

.no-popup{
	text-align: center;
	border: #EBEBEB 2px solid;
}

.no-popup .teammember-info div{
	color: black;
}

.no-popup .teammember-info .teammember-content{
	text-transform: none;
	/* overflow-y: scroll;
	max-height: 100vh; */
}

.no-popup .teammember-info .teammember-social{
	margin-top: 15px;
}

.no-popup .teammember-info .teammember-social ul{
	list-style-type: none;
}

.no-popup .teammember-info .teammember-social ul li{
	display: inline-block;
	background-color: transparent;
	padding-right: 10px;
}

.no-popup .teammember-info .teammember-social ul li:last-child{
	padding-right: 0;
}

.no-popup .teammember-info .teammember-social ul li a{
	text-decoration: none;
	box-shadow: none;
	font-size: 1.5em;
	color: inherit;
}
/* End No Popup Layout */

/* Details Slideup Layout */
.details-slideup .teammember-image-wrap{
	position: relative;
	overflow: hidden;
}

.details-slideup .teammember-image-wrap .teammember-info{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -100%;
	-webkit-transition: bottom ease 200ms;
  transition: bottom ease 200ms;
}

.details-slideup .teammember-image-wrap:hover .teammember-info{
	bottom: 0;
}

.details-slideup .teammember-bio-container .teammember-social{
	margin-top: 15px;
}

.details-slideup .teammember-bio-container .teammember-social ul{
	list-style-type: none;
}

.details-slideup .teammember-bio-container .teammember-social ul li{
	display: inline-block;
	background-color: transparent;
	padding-right: 10px;
}

.details-slideup .teammember-bio-container .teammember-social ul li a{
	text-decoration: none;
	box-shadow: none;
	font-size: 1.5em;
	color: inherit;
}
/* End Details slideup layout */

/* Flip Card Layout */
.flip-card {
	perspective: 1000px;
	transform-style: preserve-3d;
	position: relative;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-card:hover .back {
		transform: rotateY(0deg);
	}
	.flip-card:hover .front {
	    transform: rotateY(180deg);
	}

/* flip speed goes here */
.flip-card .flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.flip-card .front, .flip-card .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: absolute;
	top: 0;
	left: 0;
}

.flip-card .front {
	z-index: 2;
	transform: rotateY(0deg);
}

.flip-card .back {
	transform: rotateY(-180deg);
}

.flip-card .back {
	transform: rotateX(180deg);
}

.flip-card:hover .back {
    transform: rotateX(0deg);
}

.flip-card:hover .front {
    transform: rotateX(180deg);
}

.flip-card .teammember-bio-content{
	margin-top: 10px;
}

.flip-card .teammember-bio-container .teammember-social{
	margin-top: 15px;
}

.flip-card .teammember-bio-container .teammember-social ul{
	list-style-type: none;
}

.flip-card .teammember-bio-container .teammember-social ul li{
	display: inline-block;
	background-color: transparent;
	padding-right: 10px;
}

.flip-card .teammember-bio-container .teammember-social ul li a{
	text-decoration: none;
	box-shadow: none;
	font-size: 1.5em;
	color: inherit;
}
/*  End Flip Card Layout */
